* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    /* border-bottom: 5px solid rgb(6, 112, 249); */
    display: flex;
    align-items: center;
    background-color: #f8f8fb;
    height: 9vh;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0%;
    box-shadow: 0px 4px 4px;
}

.--nav-link {
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.--nav-link-item {
    border-right: 5px solid rgb(6, 112, 249);
    text-decoration: none;
    color: black;
    /* padding: 13px 23px; */
    background-color: #e5830305;
    width: 12vw;
    height: 8vh;
    text-align: center;
}

.--nav-link-item:hover {
    background-color: rgb(205, 125, 50);
    background-clip: 20px 20px;
    /* padding: 15px 25px; */
}

#-nav-2 {
    box-sizing: padding-box;
}

.--hidden {
    height: 10vh;
    border: 2px groove black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #29354570;
    margin-top: 1%;
}

.--hidden-item {
    border: 2px solid black;
    text-decoration: none;
    color: black;
    padding: 9px 15px;
    background-color: #ffccbc;
    border-radius: 15px;
    margin: 0.5%;
}

#--login-portal {
    position: fixed;
    top: 15%;
    z-index: 2;
    width: 100vw;
}

#-login {
    background-color: rgb(31, 195, 189);
    border-radius: 5vh;
}

.--login-img {
    width: 20px;
    height: 20px;
    position: relative;
    left: 75%;
}

.--login-img:hover {
    cursor: pointer;
}

.--slideshow {
    background-color: rgba(0, 0, 0, 0.293);
    padding: 2%;
    margin-top: 2%;
}

.slideshow-container {
    max-width: 100%;
    display: flex;
    position: relative;
    /* margin: auto; */
    justify-content: center;
  }

.--slideshow-img {
    width: 80vw;
    height: 65vh;
}
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 3%;
    border-radius: 0 3px 3px 0;
  }

  .prev {
    left: 3%;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    /* animation-iteration-count: infinite; */
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.--content {
    display: flex;
    width: 70vw;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 2.5%;
    border: 2px solid black;
    height: 40%;
    justify-content: center;
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 2.5%;
    background-color: rgba(255, 255, 255, 0.473);
    font-weight: 600;
}

.--content-title {
    font-size: 30px;
    line-height: 7rem;
    font-weight: 700;
}

.--content-img {
    width: 200px;
}

.--content-part {
    display: flex;
    align-items: center;
    border: 2px dashed black;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #ffe0b2;
}

.--scroll-div-img::before {
    content: "";
    position: fixed;
    top: 0;
    background-image: url(https://i.pinimg.com/originals/99/99/c2/9999c293a7ca37b92a49f36f6e0ad6b7.jpg);
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.7;

}

.--form {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 35%;
    margin-top: 5vh;
    height: 40vh;
    box-sizing: content-box;
    padding: 5%;
}

.--form-title {
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
    font-family: 'DynaPuff', cursive;
    margin-bottom: 8%;
}

.--form-input-div {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.--form-input {
    width: 70%;
    background-color: beige;
    border: none;
    height: 25px;
    border-radius: 12.5px;
    text-align: center;
}

.--form-submit {
    color: white;
    font-size: 100%;
    height: 120%;
    width: 30%;
    line-height: 120%;
    border-radius: 25px;
    margin: auto;
    background-color: rgb(19, 85, 217);
    margin-top: 3%;
    border: none;
    cursor: pointer;
}

.--form-submit:hover {
    background-color: greenyellow;
    color: black;
}

label {
    font-size: 25px;
}

#suggestion {
    /* width: 80%;
    height: 60%; */
    width: 60vw;
    height: 40vh;
    background-color: beige;
    border: none;
    border-radius: 15px;
    padding: 10px;
    text-overflow: ellipsis;
}

#-form {
    padding: 5%;
    margin-bottom: 15vh;
}

#-form-label {
    margin-bottom: 2%;
    font-size: 30px;
}

.--footer {
    border: 2px solid black;
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 20%;
    align-items: center;
    background-color: aquamarine;
}

.--footer-logo {
    /* width: 25%;
    height: 15vh; */
    scale: 1.3;
}

.--footer-text {
    font-size: 20px;
    width: 15%;
}

.--footer-content {
    font-size: 20px;
}

@media only screen and (max-width:830px) {

    .--nav-logo {
        margin-bottom: 2%;
        margin: auto;
    }

    .--nav-link-item {
        padding: 5px 10px;
        width: 45%;
        margin-bottom: 3%;
    }

    .--footer {
        flex-direction: column;
        align-items: center;
        padding: 5%;
    }

    .--footer-text {
        width: 90%;
        margin: auto;
        text-align: center;
        margin-bottom: 5%;
    }

    .--footer-logo {
        scale: 1;
        margin-bottom: 5%;
    }

    .--form {
        padding: 1%;
        width: 70% !important;
        height: 40%;
    }

    .--form-input {
        margin-bottom: 1%;
    }

    .--form-title {
        font-size: 30px;
    }

    #-form {
        padding: 1%;
    }

    #-form-label {
        font-size: 25px;
    }

    label {
        font-size: 16px;
    }

    .--form-submit {
        margin-top: 1%;
    }
}

@media only screen and (max-width:450px) {
    .--nav-link-item {
        padding: 4px 8px;
        width: 40%;
        margin-bottom: 3%;
    }

    .--form {
        height: 40%;
        width: 40%;
    }

    label {
        font-size: 11px;
    }

    .--form-input {
        margin-bottom: 3%;
        height: 16px;
    }

    .--content-title {
        font-size: 30px;
        line-height: 2rem;
        margin-bottom: 11%;
    }
}

@media only screen and (max-width:300px) {
    .--nav-logo {
        margin: auto;
        scale: 0.8;
    }


    .--nav-link-item {
        padding: 4px 8px;
        width: 40%;
        margin-bottom: 3%;
        text-align: center;
    }

    .--form {
        height: 40%;
    }

    label {
        font-size: 12px;
    }

    .--form-input {
        margin-bottom: 3%;
    }

    .--footer-logo {
        scale: 0.75;
        margin-bottom: 5%;
    }


    .--content-title {
        font-size: 30px;
        line-height: 2rem;
        margin-bottom: 15%;
    }

}

@media only screen and (max-width:1400px) {
    .--footer-text {
        font-size: 15px;
    }

    .--form {
        width: 60%;
    }
}

@media only screen and (min-width:831px) and (max-width:1400px) {
    .--form {
        height: 40%;
    }

    .--form-submit {
        padding: 2% 6%;
    }

    .--form-input {
        margin-bottom: 2%;
    }
}

@media only screen and (min-width: 1401px) {
    #suggestion {
        width: 100%;
        height: 80%;
    }

    .--form {
        height: 50vh;
    }
    
    .--form-input {
        height: 120%;
    }
}

/* //// */
